h1 {
  color: red;
}
.addproduct {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.sideform {
  width:60%;
  background-color: pink;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardview {
  width:40%;
  height: 100%;
}
.card {
  min-height: 80%;
  height: auto;
  width:90%;
  border: 2px solid black;
 margin:100px auto;
 border-radius:10px;
}
