/* Product.css */
.cards {
  padding: 50px;
  gap: 20px;
  display: flex;
  height: auto;
  justify-content: center;
  width: auto;
  overflow-x: hidden;
}
.product-card {
  background-color: #fdfdfd;
  width: 400px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease;
  border: 1px solid rgba(0, 0, 0, 0.447);
  position:relative;
}
.delete 
{
  position:absolute;
  right:5px;
  top:5px;
}
.product-card:hover {
  transform: translateY(-3px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.539);
}

.p-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.other-info {
  padding: 15px;
}

.other-info h2 {
  font-size: 16px;
  margin: 8px 0;
  font-weight: 500;
  color: #333;
}

.other-info a {
  color: #007bff;
  text-decoration: none;
  word-break: break-all;
}

.other-info a:hover {
  text-decoration: underline;
}

.other {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.description {
  margin-top: 12px;
  font-size: 14px;
  line-height: 1.5;
  height: auto;
}

@media (max-width: 400px) {
  .product-card {
    width:90%;
    min-width:90%;
    font-size: 10px;
    margin:10px;
  }
  .p-image img {
    height: 150px;
  }
  .other-info h2,
  .other {
    font-size: 10px;
  }
}
