*
{
    text-decoration:none;
}
.noproduct {
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 0.279);
  height: 50vh;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  background: linear-gradient(to right, #8b5cf6, #ec4899);
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight:400;
  cursor: pointer;
  transition: background 0.3s ease;
  text-decoration: none;
  gap: 5px;
  font-size:15px;
}
.tagline
{
  text-align:center;
}