body {
  margin: 0;
  background-color:rgba(235, 230, 228, 0.34);
}

.container {
  height: 100vh;
  padding-top: 50px;
  box-sizing: border-box;
}
.valuecards-container
{
  width:90%;
  margin:50px auto;
  display:flex;
  align-items:center;
  justify-content:space-evenly;
}
.search-and-card-container
{
  display:flex;
  align-items:center; 
  gap:10px;
  flex-direction:column;

}
.main-card
{
  display:flex;
  width:100%;
  align-items:center;
  justify-content:center;
}