body {
  margin: 0;
}

.container {
  height: 100vh;
  padding-top: 50px;
  box-sizing: border-box;
}
.main-heading
{
width:100%;
text-align:center;
margin-top:60px;
}
.valuecards-container
{
  width:90%;
  margin:50px auto;
  display:flex;
  align-items:center;
  justify-content:space-evenly;
}
.search-and-card-container
{
  display:flex;
  align-items:center; 
  gap:10px;
  flex-direction:column;

}
.main-card
{
  display:flex;
  width:100%;
  align-items:center;
  justify-content:center;
}