.navbar{
    display:flex;
    display:flex;
    align-items:center;
    justify-content:end;
    padding:10px;
    position:sticky;
    top:0px;
}
.nav-item 
{
    margin:10px;
   font-size:18px;
     text-decoration:none;
    font-family:sans-serif;
    color:black;
}

