.valuecard {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: auto;
  width: 350px;
  padding: 20px;
  border: 2px solid rgba(128, 128, 128, 0.272);
  border-radius: 10px;
  background-color: white;
}
@media (max-width: 400px) {
  .valuecard {
    padding: 0px;
    margin: 5px;
    height: 100px;
    font-size:13px;
  }
.value 
{
    font-size:18px;
}
}
